body {
    text-align: left;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5px 10px;
    background-color: #f5f5f5;
    font-size: 15px;
}

h1, h2 {
    text-align: left; 
    position: relative;
    margin-bottom: 10px;
    background-color: rgb(74, 135, 162);
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}


#FormContainer {
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}

.ColumnWise{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:40px;
    padding: 5px 20px;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    margin-top: 5px;
    width: 100%;

}


.column {
display: grid;
grid-template-columns: 1fr 1fr;

}

.row ,.row1{
    width:100%;
    padding: 20px;
    border: 1px solid black;
    display:flex;
    align-items: center;
    justify-content:start;
    margin: 10px;
}
.row1 {
    justify-content:space-evenly;
}
.row1 input {
    width: 120px;
}



label {
    font-weight:600;
    display: flex;
    align-items: center;
  
    
}

input, select {
    border-radius: 5px;
    border: 1px solid #0d58ee;
    padding: 5px 10px;
    height: 40px;
    width: 200px;
    margin: 10px;
    box-sizing: border-box;
      margin: 5px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 25px;
    margin-left: 5px;
}

input[type="text"], input[type="date"], select {
    border: none;
    border-radius: 5px;
    border: 2px solid #ccc;
    background: rgba(255, 255, 255, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
input[type="date"] {
width: 200px;
}

input[type="text"]:focus, input[type="date"]:focus, select:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 10px rgba(102, 175, 233, 0.6);
}



button {
    display: block;
    padding: 10px 20px;
    background-color: rgb(34, 34, 34);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: green;
}


@media (max-width: 768px) {
    .ColumnWise {
        grid-template-columns: 1fr;

    }
    .row ,.row1{
       display: grid;
       grid-template-columns: 1fr 1fr;
    }
    .row1 {
        justify-content:start;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ColumnWise {
        grid-template-columns: 1fr 1fr;

    }
    .row ,.row1{
       display: grid;
       grid-template-columns: 1fr 1fr;
    }
    .row1 {
        justify-content:start;
    }
    


}





